.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  background: var(--whiteColorDeam);
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  .logo {
    color: var(--blackColor);
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }

    .icon {
      font-size: 1.5rem;
      color: var(--PrimaryColor);
    }
  }

  @media screen and (max-width: 768px) {
    .navBar {
      position: absolute;
      background: var(--whiteColorDeam);
      height: max-content;
      width: 80%;
      border-radius: 1rem;
      top: -100rem;
      left: 50%;
      transform: translate(-50%);
      z-index: 2000;
      // box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      transition: 1s ease-in-out;
      padding: 1rem;
      .navLists {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: 0.5rem 0;

        .navItem {
          padding: 0.5rem;

          .navLink {
            color: var(--text-color);
            font-size: 0.9rem;
            font-weight: 600;

            &:hover {
              color: var(--PrimaryColor);
            }
          }
        }

        .btn {
          margin-top: 1rem;

          a {
            font-weight: 600;
            color: var(--whiteColor);
          }
        }
      }

      .closeNavBar {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        color: var(--PrimaryColor);
        &:hover {
          color: var(--SecondaryColor);
        }
      }
    }

    .activeNavbar {
      top: 7rem;
    }
  }

  .toggleNavbar {
    .icon {
      font-size: 1.5rem;
      color: var(--PrimaryColor);

      &:hover {
        color: var(--SecondaryColor);
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .toggleNavbar,
  .closeNavBar {
    display: none;
  }
  .header {
    padding: 1.5rem 2rem;

    .navBar {
      .navLists {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 1.1rem;

        .navItem {
          .navLink {
            color: var(--textColor);
            font-size: 0.9rem;
            font-weight: 500;

            &:hover {
              color: var(--PrimaryColor);
            }
          }
        }

        .btn {
          a {
            color: var(--whiteColor);
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .header {
    .navBar {
      .navLists {
        gap: 2rem;
      }
    }
  }
}

@media screen and (min-width: 1240px) {
  .header {
    padding: 1rem 8.5rem;
  }
}
